.shipping-wrapper {
  border-top: 1px dashed var(--secondary-200);
  // margin-top: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  height: max-content;
  padding: 40px 6rem;
  height: 100%;

  .label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--secondary-100);
    position: absolute;
    padding: 0.5rem;
    border-radius: 10px;
    top: -20px;
    font-size: 14px;
    right: 20px;

  }
}

.shipping-inner {
  display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-between;
  gap: 2rem;
  height: max-content;

  width: calc(100% - 70px);
}




.shopping-summary {
  .wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
  }

  // min-width: 540px;
  border: 1px solid var(--secondary-200);
  padding: 1rem;
  border-radius: 8px;
  background: white;

  .image-wrapper {
    width: 150px;

    img {
      width: 100%;
      border-radius: 10px;
    }


  }

  .confirm {
    width: 100%;
    margin-top: 1rem;

    button {
      width: 100% !important;
      border-radius: 10px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.7rem 0.5rem;
    }


  }

  .item {
    position: relative;

    .quantity {
      position: absolute;
      top: 5px;
      left: 7px;
      background: var(--secondary-500);
      padding: 0.5rem;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }
  }



}


.shipping-image {
  width: 400px;

  img {
    width: 100%;
  }
}