<div class="shipping-wrapper" #shippingWrapper>
    <div class="label">
        <app-solar-icon style="width: 20px; height: 20px" [name]="'map-point'" [size]="20"></app-solar-icon>
        انتخاب آدرس
    </div>
    <div class="shipping-inner">
        <div class="address-wrapper">

            <app-address-list></app-address-list>

        </div>
        <div class="shopping-summary">
            <h5 style="margin-bottom: 1rem;">خلاصه سبد خرید</h5>
            <div class="wrapper">
            @for (item of productImages; track $index) {

            <div class="image-wrapper">
                <img [src]="'http://localhost:3000' + item.Variant.Image" alt="">
            </div>
            <span *ngIf="item.Quantity > 1">{{item.Quantity}}</span>

            }
        </div>
        <div>
            <button class="btn primary">تایید و ادامه</button>
        </div>
    </div>

</div>
</div>

