<div class="account-detail">
    <div class="wrapper">
        <div class="header">
            <span class="title">
                <span style="color: var(--gray-700); display: flex; align-items: center;">
                    <app-solar-icon style="width: 24px; height: 24px;" name="user-id"></app-solar-icon>
                </span>
                اطلاعات کاربری
            </span>
            <button [routerLink]="['/my-account' , 'edit-profile']" class="edit-btn btn primary ">
                <app-solar-icon style="width: 15px; height: 15px;" [name]="'pen'" [size]="15"></app-solar-icon>
                ویرایش
            </button>
        </div>
        <div class="content row g-4">
            <div class="col-sm-12 col-lg-6">
                <div class="info-item">
                    <span> نام:</span>
                    <span class="info"> {{userInfo.Name}}</span>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="info-item">
                    <span> نام خانوادگی:</span>
                    <span class="info"> {{userInfo.LastName}}</span>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="info-item">
                    <span>شماره تماس ضروری:</span>
                    <span class="info"> {{userInfo.PhoneNumber}}</span>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="info-item">
                    <span>ایمیل:</span>
                    <span class="info"> {{userInfo.Email}}</span>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="info-item">
                    <span>تاریخ تولد:</span>
                    <span class="info"> {{userInfo.BirthDate}}</span>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="info-item">
                    <span>کد ملی:</span>
                    <span class="info"> {{userInfo.NationalCode}}</span>
                </div>
            </div>

        </div>
    </div>
</div>