<div class="cart-wrapper">
  <div class="cart-inner">
    <div class="cart-detail">
      <label for="">سبد خرید</label>
      <ngx-simplebar style="max-height: 635px">
        <div class="desktop-view">
          <table>
            <tr>
              <th width="100px">ردیف</th>
              <th></th>
              <th width="300px">عنوان محصول</th>
              <th width="300px">قیمت</th>
              <th width="300px">تعداد</th>
              <th width="300px">قیمت کل</th>
            </tr>
            <tr>
              <td width="100px">3</td>
              <td>
                <div class="product-image">
                  <img src="images/IMG_1499-copy-removebg-preview.png" alt="" />
                </div>
              </td>
              <td width="300px">
                <div class="product-title">شومیز لینن</div>
              </td>
              <td width="300px">
                <div class="product-price">
                  {{ "1200,000" | persianNumber }}
                </div>
              </td>
              <td width="300px">
                <div class="product-quantity">
                  <div class="quantity">
                    <span>-</span>
                    <span>1</span>
                    <span>
                      <span style="display: none;">-</span>
                      <span class="trashbin-icon">
                        <app-solar-icon style="width: 18px; height: 18px" [name]="'trash-bin-minimalistic'"
                          [size]="18"></app-solar-icon>

                      </span>
                    </span>
                  </div>
                </div>
              </td>
              <td width="300px">
                <div class="product-total"></div>
              </td>
            </tr>
            <tr>
              <td width="100px">3</td>
              <td>
                <div class="product-image">
                  <img src="images/IMG_1499-copy-removebg-preview.png" alt="" />
                </div>
              </td>
              <td width="300px">
                <div class="product-title">شومیز لینن</div>
              </td>
              <td width="300px">
                <div class="product-price">
                  {{ "1200,000" | persianNumber }}
                </div>
              </td>
              <td width="300px">
                <div class="product-quantity">
                  <div class="quantity">
                    <span>-</span>
                    <span>1</span>
                    <span>
                      <span style="display: none;">-</span>
                      <span class="trashbin-icon">
                        <app-solar-icon style="width: 18px; height: 18px" [name]="'trash-bin-minimalistic'"
                          [size]="18"></app-solar-icon>

                      </span>
                    </span>
                  </div>
                </div>
              </td>
              <td width="300px">
                <div class="product-total"></div>
              </td>
            </tr>
            <tr>
              <td width="100px">3</td>
              <td>
                <div class="product-image">
                  <img src="images/IMG_1499-copy-removebg-preview.png" alt="" />
                </div>
              </td>
              <td width="300px">
                <div class="product-title">شومیز لینن</div>
              </td>
              <td width="300px">
                <div class="product-price">
                  {{ "1200,000" | persianNumber }}
                </div>
              </td>
              <td width="300px">
                <div class="product-quantity">
                  <div class="quantity">
                    <span>-</span>
                    <span>1</span>
                    <span>
                      <span style="display: none;">-</span>
                      <span class="trashbin-icon">
                        <app-solar-icon style="width: 18px; height: 18px" [name]="'trash-bin-minimalistic'"
                          [size]="18"></app-solar-icon>

                      </span>
                    </span>
                  </div>
                </div>
              </td>
              <td width="300px">
                <div class="product-total"></div>
              </td>
            </tr>
          </table>
        </div>
        <div class="mobile-view">
          <div class="cart-item">
            <div class="top">
              <div class="product-image right">
                <img src="images/IMG_1499-copy-removebg-preview.png" alt="" />
              </div>

              <div class="left">
                <div class="product-title">شومیز لینن</div>
                <div class="product-price">
                  {{ "1200,000" | persianNumber }}
                  تومان
                </div>
              </div>



            </div>


            <div class="product-quantity">
              <div class="quantity">
                <span>+</span>
                <span>1</span>
                <span>
                  <span style="display: none;">-</span>
                  <span class="trashbin-icon">
                    <app-solar-icon style="width: 18px; height: 18px" [name]="'trash-bin-minimalistic'"
                      [size]="18"></app-solar-icon>

                  </span>
                </span>
              </div>

            </div>
          </div>
          <div class="cart-item">
            <div class="top">
              <div class="product-image right">
                <img src="images/IMG_1499-copy-removebg-preview.png" alt="" />
              </div>

              <div class="left">
                <div class="product-title">شومیز لینن</div>
                <div class="product-price">
                  {{ "1200,000" | persianNumber }}
                  تومان
                </div>
              </div>



            </div>


            <div class="product-quantity">
              <div class="quantity">
                <span>+</span>
                <span>1</span>
                <span>
                  <span style="display: none;">-</span>
                  <span class="trashbin-icon">
                    <app-solar-icon style="width: 18px; height: 18px" [name]="'trash-bin-minimalistic'"
                      [size]="18"></app-solar-icon>

                  </span>
                </span>
              </div>

            </div>
          </div>
          <div class="cart-item">
            <div class="top">
              <div class="product-image right">
                <img src="images/IMG_1499-copy-removebg-preview.png" alt="" />
              </div>

              <div class="left">
                <div class="product-title">شومیز لینن</div>
                <div class="product-price">
                  {{ "1200,000" | persianNumber }}
                  تومان
                </div>
              </div>



            </div>


            <div class="product-quantity">
              <div class="quantity">
                <span>+</span>
                <span>1</span>
                <span>
                  <span style="display: none;">-</span>
                  <span class="trashbin-icon">
                    <app-solar-icon style="width: 18px; height: 18px" [name]="'trash-bin-minimalistic'"
                      [size]="18"></app-solar-icon>

                  </span>
                </span>
              </div>

            </div>
          </div>
        </div>

      </ngx-simplebar>
    </div>
  </div>
</div>