
<div class="cart-wrapper">

  <div class="cart-inner">

    <div class="cart-detail">

      <!-- Header -->
      <div class="cart-header">

        <div class="cart-title">

          <app-solar-icon [name]="'bag3'" [size]="22" class="cart-icon">
          </app-solar-icon>

          <div>
            <h4>سبد خرید</h4>

            @if (cartItems?.Items?.length) {
            <span>
              {{ cartItems.Items.length | persianNumber }}
              کالا
            </span>
            }

          </div>

        </div>

      </div>


      <!-- Cart Content -->
      <ngx-simplebar style="max-height: 630px">
        <div class="desktop-view">

          <table class="cart-table">

            <thead>
              <tr>

                <th class="product-column">
                  محصول
                </th>

                <th>
                  قیمت
                </th>

                <th>
                  رنگ
                </th>

                <th>
                  تعداد
                </th>

                <th>
                  قیمت کل
                </th>

              </tr>
            </thead>


            <tbody>
              <tr *ngFor="let item of cartItems.Items; let i = index">
                <td class="product-column">

                  <div class="product-info">

                    <div class="product-image">

                      @if (item?.Variant?.Images?.[0]) {

                      <img [src]="'http://localhost:3000' + item?.Variant?.Images?.[0]" alt="" />

                      }

                    </div>


                    <div class="product-detail">

                      <div class="product-title">
                        {{ item.Product?.Name }}
                      </div>

                      <div class="product-size">
                        سایز:
                        <strong>
                          {{ item.Size?.Name }}
                        </strong>
                      </div>

                    </div>

                  </div>

                </td>
                <td>

                  <div class="product-price">

                    {{ item.Product?.Price! | persianNumber }}

                    <span>
                      تومان
                    </span>

                  </div>

                </td>


                <!-- Color -->
                <td>

                  <div class="product-color">

                    <span class="color-dot" [style.background]="getColorHex(item.Variant.Color)"></span>

                    <span>
                      {{ item.Variant?.Color }}
                    </span>

                  </div>

                </td>
                <td>

                  <div class="quantity">

                    <button type="button" (click)="increase(item)">

                      <app-solar-icon [name]="'add-circle'" [size]="20">
                      </app-solar-icon>

                    </button>


                    <span>
                      {{ item.Quantity | persianNumber }}
                    </span>


                    <button type="button" (click)="decrease(item)">

                      @if (item.Quantity > 1) {

                      <app-solar-icon [name]="'minus-circle'" [size]="20">
                      </app-solar-icon>

                      } @else {

                      <app-solar-icon [name]="'trash-bin-minimalistic'" [size]="19">
                      </app-solar-icon>

                      }

                    </button>

                  </div>

                </td>


                <!-- Total -->
                <td>

                  <div class="product-total">

                    {{
                    (item.Product?.Price! * item.Quantity)
                    | persianNumber
                    }}

                    <span>
                      تومان
                    </span>

                  </div>

                </td>

              </tr>

            </tbody>

          </table>

          <div>
            
          </div>

        </div>


        <!-- ========================= -->
        <!-- Mobile -->
        <!-- ========================= -->

        <div class="mobile-view">

          <div class="cart-item" *ngFor="let item of cartItems.Items">

            <!-- Top -->
            <div class="item-top">

              <div class="product-image">

                @if (item?.Variant?.Images?.[0]) {

                <img [src]="'http://localhost:3000' + item?.Variant?.Images?.[0]" alt="" />
                }

              </div>


              <div class="product-detail">

                <div class="product-title">
                  {{ item.Product?.Name }}
                </div>

                <div class="product-size">

                  سایز:
                  <strong>
                    {{ item.Size?.Name }}
                  </strong>

                </div>


                <div class="product-color" >

                  <div   class="color-dot"></div>
                  {{ item.Variant.Color }}

                </div>

              </div>

            </div>


            <!-- Bottom -->
            <div class="item-bottom">


              <!-- Quantity -->
              <div class="quantity">

                <button type="button" (click)="increase(item)">

                  <app-solar-icon [name]="'add-circle'" [size]="20">
                  </app-solar-icon>

                </button>


                <span>
                  {{ item.Quantity | persianNumber }}
                </span>


                <button type="button" (click)="decrease(item)">

                  @if (item.Quantity > 1) {

                  <app-solar-icon [name]="'minus-circle'" [size]="20">
                  </app-solar-icon>

                  } @else {

                  <app-solar-icon [name]="'trash-bin-minimalistic'" [size]="19">
                  </app-solar-icon>

                  }

                </button>

              </div>


              <!-- Price -->
              <div class="product-total">

                {{
                (item.Product?.Price! * item.Quantity)
                | persianNumber
                }}

                <span>
                  تومان
                </span>

              </div>

            </div>

          </div>

        </div>


        <!-- Empty Cart -->
        @if (!cartItems?.Items?.length) {

        <div class="empty-cart">

          <app-solar-icon [name]="'bag-3'" [size]="42">
          </app-solar-icon>

          <h3>
            سبد خرید شما خالی است
          </h3>

          <p>
            هنوز محصولی به سبد خرید اضافه نکرده‌اید.
          </p>

        </div>

        }

      </ngx-simplebar>

    </div>

  </div>

</div>