

@keyframes underline {
    0% {
        width: 0;
    }

    25% {
        width: 25%;
    }

    50% {
        width: 50%;
    }

    75% {
        width: 75%;
    }

    100% {
        width: 100%;
    }
}

a,
button {
    font-size: 1rem;

}


.header-wrapper {
    padding: 1rem 2rem 1rem 2rem;

    .header-inner {
        padding: 0.8rem;
        background-color: var(--white);
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .right-side {
            display: flex;
            align-items: center;
            gap: 1rem;

            .logo {}

            .menu-toggle {
                display: none;
            }

            .menu-wrapper {
                display: flex;
                align-items: center;

                .menu {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .menu-item {
                        cursor: pointer;
                        padding: 0.5rem 0.9rem;
                        // border-radius: 20px;
                        transition: all 100ms linear;
                        position: relative;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        // background: var(--primaryLight);
                        border-radius: 10px;




                        &.has-submenu {
                            position: relative;

                            button {
                                display: flex;
                                align-items: center;
                                gap: 5px;

                            }

                            // display: none;
                            .submenu {
                                z-index: 100;
                                position: absolute;
                                width: max-content;
                                background: white;
                                top: 100%;
                                padding: 0.5rem 0.5rem;
                                border: 1px solid var(--gray-100);
                                right: 0;
                                border-radius: 7px;
                                display: flex;
                                flex-direction: column;
                                gap: 0.5rem;
                                top: calc(100% + 20px);

                                li {
                                    padding: 0.5rem;
                                    border-radius: 7px;
                                    display: flex;
                                    align-items: center;
                                    gap: 15px;

                                    &:hover {
                                        background-color: var(--primary-100);
                                    }
                                }
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                top: 100%;
                                right: 0;
                                width: 100%;
                                height: 20px;
                            }

                        }

                        button {
                            color: var(--title);
                            cursor: pointer;
                        }

                        a {
                            color: var(--title);
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: -16px;
                            right: 0;

                            width: 0;
                            height: 3px;
                            background-color: var(--secondaryHover);
                        }

                        &:hover {

                            // background-color: var(--primaryHover);
                            // border-bottom: 2px solid var(--primaryHover) ;
                            &::after {
                                animation: underline .3s forwards;
                            }

                        }

                    }
                }
            }

            .search-box {
                margin-right: 2rem;
                position: relative;

                label {
                    font-size: 0.8rem;
                    position: absolute;
                    top: 10px;
                    padding-right: 0.6rem;
                    color: var(--gray-500);
                    display: flex;
                    align-items: center;
                    gap: 0.2rem;

                }

                input {
                    padding: 0.3rem 1.9rem 0.3rem 0.7rem;
                    height: 40px;
                    border-radius: 20px;
                    border: 1px solid transparent;
                    background-color: #fafafa;
                    min-width: 600px;
                    border: 1px solid var(--primaryHover);

                    &:focus {
                        border-color: var(--primary);
                    }

                }
            }
        }

        .left-side {
            .menu {
                display: flex;
                align-items: center;

                .menu-item {
                    padding: 0.5rem 0.9rem;
                    border-radius: 20px;
                    transition: all 200ms linear;
                    cursor: pointer;

                    a {
                        color: var(--title);
                    }

                    &:hover {
                        background-color: var(--primaryHover);
                    }

                    &.cart {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}