.category-nav-wrapper {
  height: 100%;
  border: 1px solid var(--secondary-100);
  border-left: none;
  border-radius: 0 10px 10px 0;
  background: var(--secondary-50);
}

.category-nav {
  display: flex;
  flex-direction: column;
  width: 195px;
  border-left: 1px solid var(--secondary-100);
  height: 100%;
  
}

.category-item {
  &:first-of-type {
    border-top-right-radius: 10px;
  }
  position: relative;
  

  display: flex;
  align-items: center;
  gap: 0.75rem;

  min-height: 60px;
  padding: 0.75rem 1rem;

  color: var(--gray-700);
  text-decoration: none;

  transition:
    background-color 150ms ease,
    color 150ms ease;

  .icon {
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;

    img {
      width: 25px;
      height: 25px;
      transition: transform 150ms ease;
    }
  }

  .title {
    font-size: 14px;
    white-space: nowrap;
  }

  &:hover {
    background-color: var(--white);

    .icon img {
      transform: scale(1.05);
    }
  }

  &.selected {
    background-color: var(--white);
    color: var(--secondary-500);

    &::before {
      content: '';

      position: absolute;
      right: 0;
      top: 8px;
      bottom: 8px;

      width: 3px;

      background-color: var(--secondary-500);
      border-radius: 3px 0 0 3px;
    }

    .title {
      font-weight: 700;
    }

    .icon img {
      transform: scale(1.05);
    }
  }
}