<nav class="category-nav">
    <a (click)="onCategorySelected('all')" class="category-item" [class.selected]="slug === 'all'" [routerLink]="['/categories', 'all']"
        aria-current="page">
        <span class="icon">
            <img src="images/svg/all-2.svg" alt="" />
        </span>

        <span class="title">همه دسته‌بندی‌ها</span>
    </a>

    <a (click)="onCategorySelected('blouse')" class="category-item" [class.selected]="slug === 'blouse'" [routerLink]="['/categories', 'blouse']">
        <span class="icon">
            <img src="images/svg/blouse.svg" alt="" />
        </span>

        <span class="title">شومیز</span>
    </a>

    <a (click)="onCategorySelected('shirt')"  class="category-item" [class.selected]="slug === 'shirt'" [routerLink]="['/categories', 'shirt']">
        <span class="icon">
            <img src="images/svg/t-shirt.svg" alt="" />
        </span>

        <span class="title">تی‌شرت</span>
    </a>
</nav>