.icon {
  border-radius: 50%;
  background-color: var(--secondary-200);
  width: 30px;
  height: 30px;
  display: flex;
  border: 1px solid transparent;
  align-items: center;
  justify-content: center;
}

.product-detail-wrapper {
  padding: 0 2rem;
  height: 100%;

  .product-detail-inner {
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 3rem);

    justify-content: space-around;

    .right-side {
      .product-detail-image {
        width: 100%;
        height: 390px;
        background-color: var(--pageContentBackground);
        border-radius: 20px;
        display: flex;
        justify-content: center;

        img {
          width: 310px;
          height: 100%;
          object-fit: contain;
        }
      }

      .product-detail-images {
        position: relative;
        display: flex;
        margin-top: 1rem;
        gap: 1rem;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 0.6rem;

        .images-item {
          flex-shrink: 0;
          width: 120px;
          height: 160px;
          display: flex;
          background-color: var(--primary-50);
          border-radius: 20px;
          border: 2px solid transparent;
          cursor: pointer;
          align-items: center;
          justify-content: center;

          .product-image {
            width: 90%;
            height: 100%;
            object-fit: cover;
          }

          &.selected {
            box-shadow: var(--secondary-200) 0px 1px 4px;
            transform: scale(1.03);
            outline: 2px solid var(--secondary-100);
            outline-offset: 2px;
          }

          .checkmark {
            position: absolute;
            width: 25px;
            left: -13px;
            bottom: -5px;
          }
        }
      }
    }

    .left-side {
      // background: var(--pageContentBackground);
      padding: 0 2rem;
      border-radius: 20px;

      .product-name {
        margin-top: 1.5rem;
      }

      .product-detail {
        display: grid;
        column-gap: 4rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          " name ."
          " price ."
          " desc size"
          "desc colors"
          "cart cart"
        ;

        .product-price {
          display: flex;
          align-items: center;
          /* justify-content: center; */
          gap: 0.5rem;
          grid-area: price;

          h3 {
            display: inline;
          }
        }

        .product-description {
          width: 320px;
          grid-area: desc;

          p {
            text-align: justify;
            line-height: 2;
          }
        }

        .product-colors {
          display: flex;
          flex-direction: column;
          grid-area: colors;

          .label {
            margin-bottom: 0.8rem !important;
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }

          .color-input {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .color {
              width: 35px;
              height: 35px;
              border-radius: 50%;
              background-color: darkgoldenrod;
              border: none;
              caret-color: transparent;
              cursor: pointer;
              border: 2px solid transparent;

              &:focus {
                border: 2px solid var(--secondary-300);
              }
            }
          }
        }

        .product-size {
          display: flex;
          flex-direction: column;
          margin-top: 1rem;
          grid-area: size;

          .label {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 0.8rem !important;
          }

          .size-input {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .size {
              width: 35px;
              height: 35px;
              border-radius: 10px;
              background-color: var(--primary-200);
              text-align: center;
              border: none;
              caret-color: transparent;
              cursor: pointer;
              border: 2px solid transparent;
              font-weight: 700;

              &:focus {
                border: 2px solid var(--secondary-300);
              }
            }
          }
        }

        .add-to-cart {
          margin-top: 2rem;
          grid-area: cart;

          button {
            font-size: 1.1rem;
            width: 100%;
            justify-content: center;
            padding: 0.8rem 0;
            border-radius: 10px;
          }
        }
      }
    }
  }
}


// @media screen and (max-width: 1440px) {
//   .images-item {
//     width: 120px !important;
//     height: 130px !important;
//   }
// }

@media screen and (min-width: 835px) {
  .product-detail-wrapper {


    .product-detail-inner {


      .right-side {
        .product-detail-image {



          img {}
        }

        .product-detail-images {
          justify-content: center;

          .images-item {


            .product-image {}

            &.selected {}

            .checkmark {}
          }
        }
      }

      .left-side {


        .product-name {}

        .product-detail {



          .product-price {
            grid-area: price;

            h3 {}
          }

          .product-description {
            grid-area: desc;

            p {
              text-align: justify;

            }
          }

          .product-colors {
            grid-area: colors;


            .label {}

            .color-input {


              .color {


                &:focus {}
              }
            }
          }

          .product-size {
            grid-area: size;

            .label {}

            .size-input {


              .size {

                &:focus {}
              }
            }
          }

          .add-to-cart {
            grid-area: cart;

            button {}
          }
        }
      }
    }
  }
}

@media screen and (min-width : 1500px) {
  .product-detail-wrapper {

    .product-detail-inner {
      flex-direction: row;

      .right-side {
        .product-detail-image {


          img {}
        }

        .product-detail-images {
          overflow-x: unset;
          overflow-y: unset;
          white-space: unset;

          .images-item {


            .product-image {}

            &.selected {}

            .checkmark {}
          }
        }
      }

      .left-side {


        .product-name {
          margin-top: unset;
        }

        .product-detail {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          .product-price {


            h3 {}
          }

          .product-description {
            width: 600px;

            p {}
          }

          .product-colors {


            .label {}

            .color-input {


              .color {


                &:focus {}
              }
            }
          }

          .product-size {


            .label {}

            .size-input {


              .size {


                &:focus {}
              }
            }
          }

          .add-to-cart {

            button {}
          }
        }
      }
    }
  }
}