.edit-profile {
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    height: 100%;
}

label {
    color: var(--gray-700);
}
input {
    font-size: 1rem;
    font-weight: 500;
}

button {
    border-radius: 10px;
}