<div class="checkout-wrapper">
    <div class="checkout-inner">
        <div class="form-wrapper">
            <label class="form-label">فرم مشخصات</label>
            <form>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <label class="requierd">نام و نام خانوادگی</label>
                            <input required type="text" placeholder="نام و نام خانوادگی">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <label class="requierd"> شماره ملی </label>
                            <input required type="text" placeholder="شماره ملی">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <label class="requierd"> شماره تماس </label>
                            <input required type="text" placeholder="شماره تماس">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <label class="requierd"> استان </label>
                            <ng-select required autocomplete="off" name="provinceList" (change)="onProvinceChange()"
                                [(ngModel)]="selectedProvince" [searchable]="true" [items]="provice"
                                bindLabel="province" bindValue="province" placeholder="انتخاب استان">

                            </ng-select>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <label  class="requierd"> شهر </label>
                            <ng-select required name="city" [(ngModel)]="selectedCity" [searchable]="true"
                                [items]="cities" bindLabel="cities" bindValue="cities" placeholder="انتخاب شهر">

                            </ng-select>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <label class="requierd" for="">کدپستی</label>
                            <input required type="text" placeholder="کدپستی">
                        </div>
                    </div>
                    <div class="col-lg-6  last-item">
                        <div class="input-group">
                            <label class="requierd">آدرس</label>
                            <input required type="text" placeholder="آدرس را به صورت کامل وارد کنید">
                        </div>
                    </div>

                    <div class="col-lg-6 last-item">
                        <div class="submit-btn">
                            <button class="secondary">تایید و ادامه</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="image-wrapper">
            <img src="images/fill-form.png" alt="">
        </div>

    </div>
</div>