.category-page-wrapper {
    // padding: 0 2rem;
    // height: 100%;
    height: 100%;

    .label {
        display: none;
        align-items: center;
        gap: 0.5rem;
        background: var(--secondary-100);
        position: absolute;
        padding: 0.5rem;
        border-radius: 10px;
        top: 60px;
        font-size: 14px;
    }




.category-page-inner {
    border-top: 1px solid var(--secondary-100);
    height: 100%;
    // height: calc(100% - 2rem);
    // padding: 1rem;
    background-color: var(--white);
    // border-radius: 30px;
    display: flex;
    // gap: 1rem;
    // flex-direction: column;

}

.category-product {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    // border: 1px solid var(--gray-100);
    // border-radius: 20px;
    padding: 0.5rem;
    flex-grow: 1;
    // background-color: var(--secondary-50);
}
}

@media screen and (min-width:800px) {
    .category-page-wrapper {
        padding: 2rem;
        height: calc(100% - 45px);
        border-top: 1px solid var(--secondary-100);

        .label {
            display: flex;
        }
        .category-page-inner {
            border: 1px solid var(--secondary-100);
            border-radius: 10px;

        }

        .category-product {}
    }
}