.account-wrapper {
    height: 100%;


    .account-inner {
        height: 100%;

        .background {
            height: 150px;
            background-color: var(--secondary-300);
        }

        .mobile-view {
            padding: 2rem;
            display: block;
            // width: calc(100% - 2rem);
            margin: -108px auto 0;

            border-radius: 16px;

            .login-btn {
                button {
                    width: 100%;
                    border-radius: 10px;
                    padding: 0.8rem;
                    justify-content: center;
                }
            }

            .account-info {
                background: #fff;
                padding: 1rem;
                display: flex;
                border-radius: 10px;
                flex-wrap: wrap;
                gap: 2rem;
                // align-items: center;
                justify-content: space-between;
                font-size: 14px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

                .user-info {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;

                }

                .edit-btn {

                    span {
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        gap: 0.3rem;
                        color: var(--gray-700);
                    }
                }

                .orders-info {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;

                    >span {
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        row-gap: 0.5rem;
                        color: var(--gray-700);
                    }
                }
            }

            .content-wrapper {
                margin: 1rem 0;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                padding: 0 0.7rem;
                border-radius: 10px;

                ul {
                    width: 100%;

                    li {
                        width: 100%;
                        padding: 1rem 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        color: var(--title);
                        border-bottom: 1px solid var(--gray-100);

                        a {
                            text-decoration: none;
                            font-size: 0.9rem;
                            display: flex;
                            align-items: center;
                            gap: 0.3rem;
                        }
                    }
                }
            }
        }

        .desktop-view {
            display: none;
            height: 100%;
        }

    }
}

@media screen and (min-width: 500px) {
    .account-wrapper {
        .account-inner {
            .background {
                display: none;
            }
            .mobile-view {
                display: none;

                .account-btn {
                    button {}
                }

                .content-wrapper {


                    ul {


                        li {}
                    }
                }
            }

            .desktop-view {
                display: block;
            }

        }
    }
}