<div class="product-list-wrapper">
    <div class="product-list-inner">
        <span class="label">
            <h4>همه محصولات</h4>
        </span>
        <div class="carts-wrapper">
            <app-cart [id]="123"></app-cart>
            <app-cart></app-cart>
            <app-cart></app-cart>
            <app-cart></app-cart>
            <app-cart></app-cart>
            <app-cart></app-cart>
            <app-cart></app-cart>
            <app-cart></app-cart>
        </div>
    </div>
</div>