<div class="product-list-wrapper">
    <div class="product-list-inner">
        <span class="label">
            <h4>همه محصولات</h4>
        </span>
        <ngx-simplebar style="max-height: 635px">
                    <div class="products-wrapper">
            <app-product [id]="123"></app-product>
            <app-product></app-product>
            <app-product></app-product>
            <app-product></app-product>
            <app-product></app-product>
            <app-product></app-product>
            <app-product></app-product>
            <app-product></app-product>
        </div>
        </ngx-simplebar>
    </div>
</div>