<div class="product-list-wrapper">
  <div class="product-list-inner">
    <div class="label">
      <div style="color: var(--title)">
        <app-solar-icon style="width: 20px; height: 20px" [name]="'widget4'" [size]="20"></app-solar-icon>
        <h4>همه محصولات</h4>
      </div>
      <div style="
          display: flex;
          align-items: center;
          color: var(--secondary-500);
          gap: 0.5rem;
        ">
        مشاهده همه
        <app-solar-icon style="width: 16px; height: 16px" [name]="'alt-arrow-left'" [size]="16"></app-solar-icon>
      </div>
    </div>
    <ngx-simplebar style="max-height: 580px">
      <div class="products-wrapper">
        <ng-container *ngFor="let product of productsList">
          <div class="product-inner">

            <div *ngIf="product.Variants.length > 0" class="product-image">
              <img [src]="productImageAddress(product.Variants[0].Images[0])" alt="">
            </div>


            <div class="product-detail">
              <span>
                <h5 for="">{{product.Name}} </h5>
              </span>
              <div>
                <span>{{ product.Price| persianNumber }} </span>
                <span>تومان</span>
              </div>
            </div>
            <div (click)="$event.stopPropagation()" class="product-detail-btn">
              <button (click)="openProductDetails(product._id)" class="secondary">
                مشاهده جزییات
                <app-solar-icon [name]="'alt-arrow-left'" [size]="20"
                  style="width: 20px; height: 20px;"></app-solar-icon>

              </button>
            </div>
          </div>
        </ng-container>
      </div>

    </ngx-simplebar>
  </div>
</div>