.home-wrapper {
    padding: 0 2rem 1rem 2rem;

    .home-inner {
        .label {
            margin-bottom: 18px;
            width: max-content;
            display: block;
            padding: 0.5rem 1rem;
            background-color: var(--secondary-50);
            border-radius: 12px;
        }
        padding: 1.5rem;
        background-color: var(--white);
        border-radius: 25px;

        .carts-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
        row-gap: 1rem;
        place-items: center;
        }
    }
}