::host {
    display: block;
    min-height: 100vh;
}

.shell-wrapper {
    // display: flex;
    // flex-direction: column;
    // min-height: 100vh;
    height: 100%;

}

.content {
    flex: 1 1 auto;
    min-height: 0;
    padding-bottom: 80px;
    // height: calc(100% - 170px);
    display: flex;
    flex-direction: column;



}




.mobile-menu {
    display: block;

}

.header {
    display: block;
    padding: 0.6rem;
    border-bottom: 1px solid var(--primary-300);
}

.desktop-menu {
    display: none;
}

@media (min-width: 1000px) {
    .content {}

    .mobile-menu {
        display: none;
    }

    .header {
        display: none;
    }

    .desktop-menu {
        display: block;
    }
}