::host {}

.shell-wrapper {
    display: flex;
    flex-direction: column;
     min-height: 100vh;

}

.content {
    // height: calc(100% - 190px);
    // margin-bottom: 1rem;
    flex: 1;
    // overflow: scroll;
    min-height: 0;
 
    padding-bottom: 80px;


}

.mobile-menu {
    display: block;
}

.desktop-menu {
    display: none;
}

@media (min-width: 1000px) {
    .content {}

    .mobile-menu {
        display: none;
    }

    .desktop-menu {
        display: block;
    }
}