<div class="account-info">
    <div class="wrapper">
        <div class="header">
            <span>اطلاعات کاربری</span>
            <span>
                <app-solar-icon [name]="'pen'" [size]="15"></app-solar-icon>
                ویرایش
            </span>
        </div>
        <div class="content">
            <div class="column-1">
                <div>
                    <span>نام و نام خانوادگی:</span>
                    <span></span>
                </div>
                <div>
                    <span>شماره تماس ضروری:</span>
                    <span></span>
                </div>
            </div>
            <div class="column-2">
                <div>
                    <span>ایمیل:</span>
                    <span></span>
                </div>
                <div>
                    <span>تاریخ تولد:</span>
                    <span></span>
                </div>
                <div>
                    <span>کد ملی:</span>
                    <span></span>
                </div>
            </div>

        </div>
    </div>
</div>